develop:
  dialect: mysql
  datasource: root:password@tcp(127.0.0.1:3306)/shutter?parseTime=true&collation=utf8_general_ci&interpolateParams=true&loc=Local
  dir: migration

production:
  dialect: mysql
  datasource: root:password@tcp(hal-iot.c6cx4bn8se6n.ap-northeast-1.rds.amazonaws.com:3306)/shutter?parseTime=true&collation=utf8_general_ci&interpolateParams=true&loc=Local
  dir: migration
